<div class="row content-header">
    <h1>{{ $ctrl.advertisement.title}}</h1>
</div>
<div class="bar"></div>
<div class="content">
    <div class="adv-header">
        <h3 class="col-xs-8 col-lg-10 "><b>{{ $ctrl.advertisement.title }}</b></h3>
        <h3 class="col-xs-4 col-lg-2">
            <span ng-if="!$ctrl.iWatchThis" class="glyphicon glyphicon-eye-open watch" ng-click="$ctrl.addToWatch($ctrl.advertisement.id)"></span>
            <span ng-if="$ctrl.iWatchThis" class="glyphicon glyphicon-eye-close watch" ng-click="$ctrl.removeWatch($ctrl.advertisement.id)"></span></h3>
    </div>
    <div class="bar"></div>

    <div class="adv-content">
        <span >{{ $ctrl.advertisement.content }}</span>
    </div>

    <div class="photo" ng-repeat="photo in $ctrl.photos">
        <img src="{{photo}}" style="width:200px;height:200px;">
    </div>
    <div class="bar"></div>
    <div class="adv-footer">
        <div class="categories">
            <span class="{{cat}} ico inline content-footer category" ng-repeat="cat in $ctrl.advertisement.categories">
            </span>
        </div>
        <button type="button" ng-click="$ctrl.openEmailModal()">Sand Message to author</button>
    </div>

</div>