<div>
    <div class="row content-header">
        <h1>dashboard</h1>
    </div>
    <div class="row content-search">
        <input type="search" ng-model="$ctrl.search.title">
        <select  ng-model="$ctrl.search.type" >
            <option value="">All</option>
            <option ng-repeat="type in $ctrl.types" value="{{type}}">{{ type }} </option>
        </select>
    </div>
    <div class="c">
        <div class="row">
            <div ng-repeat="adv in $ctrl.listAdv | filter:$ctrl.search" class="col-xs-6 col-lg-4">
                <div class=" advertisement">
                    <h1>{{ adv.title}}</h1>
                    <h3>{{ adv.content}}</h3>
                    <h2>{{ adv.type }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>