


body{
   background-color: whitesmoke;
   display:block;
   font-family: 'Catamaran', sans-serif !important;
}
.bar{
   margin: 20px 0px;
   border: 1px solid lightgrey;
}
.top-nav{
   background-color:#34495E;/* #354353;*/
}

.top-nav{
   padding-top: 20px ;
}

.top-nav ul {
   margin: 0px !important;
   list-style: none ;
}

.list-inline li{
   margin-right: 20px;
}

header{
   background-color: #212F3D;/*#212A34;#172A34*/
   color: #F2F1EF;
   font-size: medium ;
   box-shadow:5px 5px 10px;
}
.navbar-right{
   text-align: right;
}

.menu-nav{
   background:#333333;
   height:30px;
}

.navbar{
   margin-bottom:0px !important;
   padding: 8px 0;
}

.ico-picture{
   display:inline;
   margin-right: 20px;
}

.navbar .ico-picture a{
   margin-left: 15px;
   text-decoration: none;
   color: #9acfea;

}

.ico-picture img{
   height: 32px;
   width:32px;
}

.ico-picture button{
   background-color: transparent ;
   border-style: none ;
}

.menu{
   padding-top: 5px;
   padding-bottom: 5px;
}

/*Page content.........................................*/

.content{
   box-shadow: 5px 5px 5px #9d9d9d;
   background-color: white;
   padding: 30px 10px;

}
.content-header{
   margin: 20px 10px;
}

.content-search{
   margin: 20px 40px;
}

form .row{
   margin: 20px ;
   padding: 15px;
   border-bottom: 0.5px solid lightgrey;
}

.blue-button{
   color: whitesmoke;
   background-color: #212F3D;

}
.content-footer{
   text-align: right;
   margin: 15px 30px;
}

.content-search div{
   margin-right: 25px;
}
.content-search div span{
   margin-right: 10px;
}


.float-left{
   float:left;
}

.float-right{
   float:right;
}

.inline{
   display: inline-block;
   float: left;
}

.abilities{
   margin-top: 10px;
}


li{
   list-style: none;

}

.list-view{
   display: table;
   width: 100%;
   margin: 0;
}

.img{
   text-align: center;
}

/*.list-abilities-header{
   background: #8CC152;
   padding: 20px 0 9px 0;


}*/

.list-abilities-header h2{
   padding: 0px 0px 20px 20px;
}

.list-element{
   padding: 15px 0;
}


.advertisement{
   box-shadow: 5px 5px 5px #9d9d9d;
   background-color: white;
   padding: 15px 20px;
   margin: 10px;

}
.adv-content-small{
   margin: 10px 5px;
}
.MOTO{
   background: url("ico/motorbike-side-view.svg") no-repeat top left;
   background-size: contain;

}
.PET{
   background: url("ico/pawprint.svg") no-repeat top left;
   background-size: contain;

}
.MAN{
   background: url("ico/man.svg") no-repeat top left;
   background-size: contain;

}
.WOMAN{
   background: url("ico/woman.svg") no-repeat top left;

}
.CLOTHES{
   background: url("ico/shirt.svg") no-repeat top left;
   background-size: contain;

}
.JEWELLERY{
   background: url("ico/diamond.svg") no-repeat top left;
   background-size: contain;

}
.HOME{
   background: url("ico/home.svg") no-repeat top left;
   background-size: contain;

}


.ico{
   margin: 0px 10px;

}
.adv-header{
   display: flex;
   padding:10px;
}

.adv-footer{
   display: flex;
}
.adv-content{
   margin: 30px 20px;
   font-size: 1.5em;
}
.categories{
   padding-left: 20px;
}

.categories-small{
   position: absolute;
   right: 35px;
}

/*errors*/
.error{
   color: darkred !important;
}

.asterisk{
   color: darkred !important;
   font-size: 70%;
}
.small-category{
   width: 20px;
   height: 20px;

}
.category{
   width: 40px;
   height: 40px;

}
.watch{
   position: absolute;
   right: 50px;
}

/*User search*/
.rounded-logo{
   border-radius: 50%;
}

.user-small{
   box-shadow: 5px 5px 5px #9d9d9d;
   background-color: white;
   padding: 15px 20px;
   margin: 10px;

}