<div>
    <div class="row content-header">
        <h1>User Search</h1>
    </div>
    <div class="bar"></div>
    <div class="row content-search">
        <div class="inline">
            <span>Email</span>
            <input type="search" ng-model="$ctrl.search.email" placeholder="email">
        </div>
        <div class="inline">
            <span>Login</span>
            <input type="search" ng-model="$ctrl.search.login" placeholder="login">
        </div>
    </div>
    <div class="bar"></div>

    <div>
        <div class="row">
            <div ng-repeat="user in $ctrl.users | filter:$ctrl.search
                                                |limitTo:$ctrl.itemsPerPage:
                                                    (($ctrl.currentPage-1)*$ctrl.itemsPerPage)"
                 class="col-xs-3 user-small">
                <img class=" rounded-logo" src="/images/Social_Media_Cloud.png" height="100px" width="100px">
                <h2>{{user.login}}</h2>
                <p>{{user.email}}</p>
                <p>{{user.birthday}}</p>
                <p class="categories-small">
                    <a  ng-click="$ctrl.addFriend(user.id)" role="button"><span class="glyphicon glyphicon-plus ico "></span></a>
                    <a><span class=" ico glyphicon glyphicon-comment"></span></a>
                </p>
            </div>
        </div>
        <div class="bar"> </div>
        <div class="row">
            <ul uib-pagination
                total-items="$ctrl.usersLength"
                ng-model="$ctrl.currentPage"
                items-per-page="$ctrl.itemsPerPage"
                max-size="$ctrl.maxSize"
                class="pagination-sm"
                boundary-link-numbers="true"></ul>
        </div>
    </div>
</div>