<!DOCTYPE html >
<html  >
<head>
    <base href="/"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js" type="application/javascript"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="application/javascript"></script>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"  type="text/css"/>
    <link rel="stylesheet" href="/css/Style.css" type="text/css"/>
    <link rel="stylesheet" href="/bower_components/angular-bootstrap/ui-bootstrap-csp.css" type="text/css" />

    <script src="/js/app.js"></script>
    <script src="/js/appConfig.js"></script>


    <script src="/js/core/adv/advertisement.module.js" type="application/javascript"></script>
    <script src="/js/core/adv/advertisement.service.js" type="application/javascript"></script>

    <script src="/js/core/user/user.module.js" type="application/javascript"></script>
    <script src="/js/core/user/user.service.js" type="application/javascript"></script>

    <script src="/js/customheader/customheader.module.js" type="application/javascript"></script>
    <script src="/js/customheader/customheader.component.js" type="application/javascript"></script>
    <link href="/js/customheader/customheader.template.html"/>

    <script src="/js/advdetail/advdetail.module.js" type="application/javascript"></script>
    <script src="/js/advdetail/advdetail.component.js" type="application/javascript"></script>
    <link href="/js/advdetail/advdetail.template.html"/>

    <script src="/js/advertisement/adv.module.js" type="application/javascript"></script>
    <script src="/js/advertisement/adv.component.js" type="application/javascript"></script>
    <link href="/js/advertisement/adv.template.html"/>

    <script src="/js/advertisement/success/success.module.js" type="application/javascript"></script>
    <script src="/js/advertisement/success/success.component.js" type="application/javascript"></script>
    <link href="/js/advertisement/success/success.template.html"/>


    <script src="/js/dashboard/dashboard.module.js" type="application/javascript"></script>
    <script src="/js/dashboard/dashboard.component.js" type="application/javascript"></script>
    <link href="/js/dashboard/dashboard.template.html"/>

    <script src="/js/mail/mail.module.js" type="application/javascript"></script>
    <script src="/js/mail/mail.component.js" type="application/javascript"></script>
    <link href="/js/mail/mail.template.html"/>

    <script src="/js/users/users.module.js" type="application/javascript"></script>
    <script src="/js/users/users.component.js" type="application/javascript"></script>
    <link href="/js/users/users.template.html"/>

    <script src="/js/directive/File.directive.js" type="application/javascript"></script>


</head>
<body  ng-app="portal">

    <customheader/>

    <div class="container">
        <div ng-view=""></div>
    </div>



</body>
</html>