<div class="row content-header">
    <h1>Add new advertisement</h1>
</div>
<div class="bar"></div>
<div class="content">
    <form>
        <div class="row">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" type="text" ng-model="$ctrl.advertisement.title" id="title">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="content" class=""> Content  </label>
                <textarea class="form-control" id="content" type="text"  rows="10" cols="40" ng-model="$ctrl.advertisement.content"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="files"> Title  </label>
                <input multiple file-upload="picFiles" name="files" id="files"  type="file" ng-model="$ctrl.pictures" ng-change="$ctrl.write()">
                <p class="help-block">MAX 25Mb</p>
                <span class="error" ng-show="files.$error.filesToBig">Pliki są za duże </span>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Categories</label>

                <div class="checkbox" id="category" ng-repeat=" category in $ctrl.categories" >
                    <label>
                    <input type="checkbox" ng-change="$ctrl.addRemoveCategory(category)" ng-model="$ctrl.advertisement.categories[category]">{{ category}}
                    </label>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="form-group ">
                <label>Type</label>
                <div class="radio">
                    <label>
                        <input type="radio" value="BUYING" ng-model="$ctrl.advertisement.type">BUYING</br>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" value="SALE" ng-model="$ctrl.advertisement.type">SALE</br>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" value="EXCHANGE" ng-model="$ctrl.advertisement.type">EXCHANGE</br>
                    </label>
                </div>
            </div>
        </div>
    </form>
    <div class="content-footer">
    <button  type="submit" class="btn  blue-button" ng-click="$ctrl.save()">SAVE</button>
    </div>
</div>
