<div class="container">
    <div class="row">
        <div class="form-group">
            <h2>Title</h2>
            <input type="text" >
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <h2>Content</h2>
            <input type="text" >
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <h2>Pictures</h2>
            <input type="file">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <h2>Category</h2>
            <select multiple ng-model="categories" >
                <option ng-repeat="category in categories">{{ category}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <h2>Type</h2>
            <input type="checkbox" value="BUYING">BUYING</br>
            <input type="checkbox" value="SALE">SALE</br>
            <input type="checkbox" value="EXCHANGE">EXCHANGE</br>
        </div>
    </div>
</div>
